.card_wrapper {
    border: solid 1px;
    border-radius: 5px;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card_wrapper.empty {
    height: 67px;
}

.card_number {
    width: 75%;
    max-width: 24px;
}

.card_number_wrapper {
    display: flex;
    justify-content: center;
}

.card_suit {
    width: 75%;
    max-width: 24px;
}

.card_suit_wrapper {
    display: flex;
    justify-content: center;
}